body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    margin-top: -40px;
    margin-left: -20px;
    text-align: center;
    background-color: rgb(60, 59, 59);
    font-size:30px;
    color: white;
}

main {
    padding: 2rem;
}

h2 {
    margin-bottom: 1rem;
}

ol, ul {
    margin-left: 2rem;
}

/* Additional styles for classes used in the HTML */
.rules-section ol,
.policies-section ul,
.staff-guidelines-section ol,
.code-of-conduct-section ol {
    list-style-type: decimal;
    margin-left: 2rem;
}

.contact-us-section ul {
    list-style-type: disc;
    margin-left: 2rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
